<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">List Users</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                ID
              </th>
              <th>
                Avatar
              </th>
              <th>
                Name
              </th>
              <th>
                Email
              </th>
              <th>
                Phone Number
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: currentPage }">
              <td class="py-1">
                {{user.id}}
              </td>
              <td>
                <img src="{{user.avatar}}" alt="image"/>
              </td>
              <td>
                {{user.name}}
              </td>
              <td>
                {{user.email}}
              </td>
              <td>
                {{user.phone}}
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
