<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
      <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left py-5 px-4 px-sm-5">
            <div class="brand-logo">
              <img src="../../../assets/images/logo.svg" alt="logo">
            </div>
            <h4>Hello! let's get started</h4>
            <h6 class="font-weight-light">Sign in to continue.</h6>
            <form class="pt-3" method="post" id="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="username" placeholder="Username" formControlName="username" required>
                <div *ngIf="formGetter.username.errors && (formGetter.username.dirty || formGetter.username.touched)" class="alert alert-danger">
                    Username is required.
                </div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-lg" id="password" placeholder="Password" autocomplete="on" formControlName="password" required>
                <div *ngIf="formGetter.password.errors && (formGetter.password.dirty || formGetter.password.touched)" class="alert alert-danger">
                    Password is required.
                </div>
              </div>
              <div class="mt-3">
                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" [disabled]="loginForm.invalid">SIGN IN</button>
              </div>
              <div class="my-2 d-flex justify-content-between align-items-center">
                <div class="form-check">
                  <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input">
                    Keep me signed in
                  </label>
                </div>
                <a href="#" class="auth-link text-black">Forgot password?</a>
              </div>
              <div class="mb-2">
                <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                  <i class="ti-facebook mr-2"></i>Connect using facebook
                </button>
              </div>
              <div class="text-center mt-4 font-weight-light">
                Don't have an account? <a routerLink="/authorize/register" routerLinkActive="active" class="text-primary">Create</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../../../assets/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../../../assets/js/off-canvas.js"></script>
<script src="../../../assets/js/hoverable-collapse.js"></script>
<script src="../../../assets/js/template.js"></script>
<script src="../../../assets/js/todolist.js"></script>
<!-- endinject -->
